discord
aiohttp
async-timeout
attrs
chardet
discord.py
idna
multidict
pip
setuptools
typing-extensions
yarl
mcrcon
PyNaCl
ffmpeg
youtube_dl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib